
<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="index.php">
            <img alt="Image placeholder" src="/assets/images/1.png" width='150px' height="40px" id="navbar-logo">
        </a>
        <!-- Toggler -->
        <button class="navbar-toggler text-info" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bg-info rounded"></span>
          </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mt-4 mt-lg-0 ml-auto offset-md-7">
                <li class="nav-item ">
                    <a class="nav-link text-light " routerLink="/pricing">Pricing</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/exchanges">Exchanges</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link text-light" routerLink="/contact">Contact</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link text-light" routerLink="/auth/register">Signup</a>
                </li>
            </ul>
            <!-- Button -->
            <a class="navbar-btn btn btn-sm btn-primary d-none d-lg-inline-block ml-3" routerLink='/auth/login' >
                Login
            </a>
        </div>
    </div>
</nav>
