<div class="row my-5">
  <div class="col-10 offset-2">

  </div>
  <div class="row">
    <div class="col-2 text-center fw-bold text-secondary">
      <div class="fas fa-patreon">

      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="col tableDeatails">
    <table>
      <tr>
        <td *ngFor="let item of arrayOfInputs">
          <input type="text">
        </td>
      </tr>
      <tr>
        <td><span class="p-2">Current Stock Price</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Cost Basis</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Industry</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Sector</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Exchange Traded On</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Market Cap</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Enterpise Value (Latest)</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Volume</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Average Daily Volume (14 days)</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Volume Increase/Decrease</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Share Float > 40-50%</span></td>
      </tr>
      <tr>
        <td><span class="p-2 text-uppercase bg-dark text-light">stock performance</span></td>
      </tr>
      <tr>
        <td><span class="p-2">PE RATIO</span></td>
      </tr>
      <tr>
        <td><span class="p-2">PS Ratio < 2 ideal, < 1 Great</span>
        </td>
      </tr>
      <tr>
        <td><span class="p-2 text-uppercase bg-dark text-light">income statement</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Total Revenuet</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Cost of goods sold</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Gross profit</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Total operating expense</span></td>
      </tr>
      <tr>
        <td><span class="p-2">ROIC - return on invested capital</span></td>
      </tr>
      <tr>
        <td><span class="p-2">ROIC - return on capital employee</span></td>
      </tr>
      <tr>
        <td><span class="p-2 bg-success">Five R indicator </span></td>
      </tr>
      <tr>
        <td><span class="p-2">Dividends per share(YR)</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Dividend Yield 4%</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Payout ratio</span></td>
      </tr>
      <tr>
        <td><span class="p-2 bg-dark text-light text-uppercase">capital ratio</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Debt to equity</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Debt to assets</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Assets to equity</span></td>
      </tr>
      <tr>
        <td><span class="p-2 bg-dark text-light text-uppercase">per share data</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Revenue per share</span></td>
      </tr>
      <tr>
        <td><span class="p-2">EBITDA per share</span></td>
      </tr>
      <tr>
        <td><span class="p-2 bg-success">Revenue per share ratio</span></td>
      </tr>
      <tr>
        <td><span class="p-2 bg-success">EDITDA Per Share Ratio</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Operating income per share</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Operating income per share ratio</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Pretax income per share</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Pretaz income per share ratio</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Free cash flow per share</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Shares outstanding</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Avaliable float shares</span></td>
      </tr>
      <tr>
        <td><span class="p-2">Beta Ratio 5 YR (Risk Volatility)</span></td>
      </tr>
    </table>
  </div>
</div>
