*{
  margin: 0%;
  padding: 0%;
}

.success{
  display: block;
}
.danger{
  display: none;
}
ul {
  list-style-type: none;
}

li{
  border: 1px solid rgb(111, 250, 208);
}


input{
  outline: none;
  border: none;
}


.model{
  position: absolute;
}

.loader > img{
  width: 30px;
}

.content input{
  width : 90%;
}





/* Rows and cells styles */
.long-item{
  width: 100vw;
  position: absolute;
  margin-bottom: 10px;
}

.marginTop{
  margin-top: 24px;
}

.blue{
  background-color:lightblue;
}

.green{
  background-color:  rgb(104 244 175);
}

.lightGreen{
  background: lightgreen;
}


.maxValue{
  text-indent: 18px;
  color:blue;
  font-weight: bold;
}

.minValue{
  text-indent: 18px;
  color: red;
  font-weight: bold;
}
