<div class="row">
  <div class="col text-center bg-dark text-light" *ngIf="!loaderStarted">
    <p class="h3 my-4">Search to compare between companies using symbol or company name <i class="fa fa-search"></i></p>
  </div>
  <div class="loader container text-center my-4" *ngIf="loaderStarted">
    <span class="fw-bold mx-3">Loading... </span> <img src="/assets/images/ajax-loader.gif">
  </div>
</div>
<div class='row'>
  <div class="col-2">
    <ul>
      <li class="bg-dark text-warning" style="height:60px">STOCK TICKER <br> <img src="/assets/images/1.png"
          width="80px" height="30px">
      </li>
      <div class="content" *ngFor="let prop of properties; let index = index">
        <li [ngClass]="{
          'd-none' : index==1,
          'bg-info' : index == 22,
          'blue' : index ==12 || index==39,
          'green' : index==13,
          'lightGreen' : index==27 || index==34,
          'marginTop' : index== 12 || index == 15 || index==27 || index == 31 || index == 47
        }">
          <input [ngClass]="{
          'bg-black long-item text-warning w-100': index == 11 || index == 14 || index == 26 || index == 30 || index == 46,
          'bg-info' : index == 22
      }" disabled class="" value="{{prop.title}}">
          <abbr title="{{prop.comment}}">
            <i class="pull-right fa fa-info-circle" [ngClass]="{
              'd-none' : index == 11 || index == 14 || index == 26 || index == 30 || index == 46
            }" data-bs-toggle="modal" [attr.data-bs-target]="'#prop'+ index"></i>
          </abbr>
        </li>

        <!-- Modal To Edit Property -->
        <div *ngIf="isAdmin" class="modal fade modal-dialog modal-lg" id="prop{{index}}" tabindex="-1"
          aria-labelledby="property" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <p class="fw-bold textmodal-title" id="property">Update {{prop.title}}</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <label class="fw-bold mt-2" for="title">Tilte</label>
                  <input readonly #inputTitle class="form-control mb-4" name="title" type="text" value="{{prop.title}}">
                  <label class="fw-bold" for="comment">Comment</label>
                  <textarea #inputComment class="form-control mb-2" name="comment" type="text"
                    value="{{prop.comment}}"></textarea>
                  <button type="button" class="btn btn-secondary my-2" data-bs-dismiss="modal">Close</button>
                  <button id="{{prop.id}}" type="button" class="btn btn-primary mx-2 my-2"
                    (click)="updateProperty($event,inputTitle.value, inputComment.value)">Save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <li>Current Stock Price</li>
      <li>Cost Basis</li>
      <li>Industry</li>
      <li>Sector</li>
      <li>Exchange Traded On</li>
      <li>Market Cap</li>
      <li>Enterpise Value (Latest)</li>
      <li>Volume</li>
      <li><input type="text" value ='Daily Volume (14 days)'></li>
      <li>Volume Increase/Decrease</li>
      <li>Share Float > 40-50%</li>
      <li class='bg-black text-warning'>stock performance</li>
      <li class="bg-info">PE RATIO</li>
      <li style="background-color: rgb(117, 201, 162);">PS Ratio < 2 ideal, < 1 Great</li>
      <li class="bg-dark text-warning">income statement</li>
      <li>Total Revenuet</li>
      <li>Cost of goods sold</li>
      <li>Gross profit</li>
      <li>Total operating expense</li>
      <li><input type='text' input placeholder="Search With Symbol" class="w-100" value="ROIC-return on invested capital"></li>
      <li><input type='text' input placeholder="Search With Symbol" class="w-100" value='ROCE-return on capital employee'></li>
      <li><input type='text' input placeholder="Search With Symbol" class="w-100" value='ROTE-return on Tangible CApital'></li>
      <li class="bg-info">Five R indicator</li>
      <li>Dividends per share(YR)</li>
      <li style="background-color: rgb(228, 201, 201);">Dividend Yield 4%</li>
      <li>Payout ratio</li>
      <li class="bg-dark text-warning">capital ratio</li>
      <li style="background-color: rgb(73, 236, 73);">Debt to equity</li>
      <li>Debt to assets</li>
      <li>Assets to equity</li>
      <li class="bg-dark text-warning">per share data</li>
      <li>Revenue per share</li>
      <li class="bg-info">EBITDA per share</li>
      <li>Revenue per share ratio</li>
      <li style="background-color: rgb(85, 248, 85);">EDITDA Per Share Ratio</li>
      <li>Operating income per share</li>
      <li><input class="w-100" type="text" value="Operating income per share ratio"></li>
      <li>Pretax income per share</li>
      <li><input class="w-100" type='text' value="Pretax income per share ratio"></li>
      <li>Free cash flow per share</li>
      <li>Shares outstanding</li>
      <li>Avaliable float shares</li>
      <li><input class="w-100" type="text" value ='Beta Ratio 5 YR (Risk Volatility)'></li>
      <li>Total Assets Growth</li>
      <li>Total Equity Growth</li>
      <li><input class="w-100" type='text' value='Cash From Operations Growth'></li>
      <li class="text-warning"><input class="w-100" type='text' value='CAGR-COMPOUNDED ANNUAL'></li>
      <li style="background-color: rgb(228, 201, 201);">Revenue 10-Period CAGR</li>
      <li>Diluted EPS 10-Period CAGR</li>
      <li>Total Assets 10-Period CAGR</li>
      <li>Total Equity 10-Period CAGR</li>
      <li><input class="w-100" type='text' value='Free CAsh Flow 10-Period CAGR'></li>
      <li class="bg-primary">My Picks & Patreon Notes</li>
      <li>STOCKS COVERED</li>
      <li>AMC Stock</li>
      <li>ENPH Stock</li>
      <li>PVLV Stock</li>
      <li>CLAR Stock</li>
      <li>GNK Stock</li>
      <li>DAC Stock</li>
      <li>TSLA Stock</li>
      <li>F Stock</li>
      <li>NIO Stock</li> -->
    </ul>
  </div>
  <div class="col">
    <div class=""><input type='text' input placeholder="Search With Symbol" id="0"
        class="text-light bg-info text-center w-100" (keyup.enter)="getData($event, inputOne.value)" #inputOne
        style="height:60px; border-right: 1px solid black;"></div>
    <ul class="text-center fw-bold" [ngClass]="allStatus[0] ? 'success' : 'danger'" #inputOne *ngIf="isResponseBack">
      <li *ngFor="let item of ArrayOfData[0]; let index = index" [ngClass]="{
          'd-none' : index==1,
          'bg-info' : index == 22,
          'blue' : index ==12 || index==39,
          'green' : index==13,
          'lightGreen' : index==27 || index==34
        }">
        <input disabled [ngClass]="{
          'maxValue' : index==17 && item == maxGrossProfitGrowthArr || index==39 && item == maxFreeCashFlowGrowthArr || index==49 && item == maxTotalAssetsGrowthArr || index==50 && item == maxTotalEquityGrowthArr || index==45 && item == maxCashFromOperationsGrowthArr || index==47 && item == maxRevenue10PeriodCagrArr,
          'minValue' : index==17 && item == minGrossProfitGrowthArr || index==39 && item == minFreeCashFlowGrowthArr || index==49 && item == minTotalAssetsGrowthArr || index==50 && item == minTotalEquityGrowthArr || index==45 && item == minCashFromOperationsGrowthArr || index==47 && item == minRevenue10PeriodCagrArr
        }" value="{{item}}">
      </li>
    </ul>
  </div>
  <div class="col">
    <div class="bg-dark"><input type='text' input placeholder="Search With Symbol" id="1"
        (keyup.enter)="getData($event, inputTwo.value)" #inputTwo class="text-light bg-info text-center w-100"
        style="height:60px; border-right: 1px solid black;"></div>
    <ul class="text-center fw-bold" [ngClass]="allStatus[1] ? 'success' : 'danger'" #inputOne *ngIf="isResponseBack">
      <li *ngFor="let item of ArrayOfData[1]; let index = index" [ngClass]="{
        'd-none' : index==1,
        'bg-info' : index == 22,
        'blue' : index ==12 || index==39,
        'green' : index==13,
        'lightGreen' : index==27 || index==34
      }">
        <input disabled [ngClass]="{
        'maxValue' : index==17 && item == maxGrossProfitGrowthArr || index==39 && item == maxFreeCashFlowGrowthArr || index==49 && item == maxTotalAssetsGrowthArr || index==50 && item == maxTotalEquityGrowthArr || index==45 && item == maxCashFromOperationsGrowthArr || index==47 && item == maxRevenue10PeriodCagrArr,
        'minValue' : index==17 && item == minGrossProfitGrowthArr || index==39 && item == minFreeCashFlowGrowthArr || index==49 && item == minTotalAssetsGrowthArr || index==50 && item == minTotalEquityGrowthArr || index==45 && item == minCashFromOperationsGrowthArr || index==47 && item == minRevenue10PeriodCagrArr
      }" value="{{index}}">
      </li>
    </ul>
  </div>
  <div class="col">
    <div class=""><input type='text' input placeholder="Search With Symbol" id="2"
        class="text-light bg-info text-center w-100" (keyup.enter)="getData($event, inputThree.value)" #inputThree
        style="height:60px; border-right: 1px solid black;"></div>
    <ul class="text-center fw-bold" [ngClass]="allStatus[2] ? 'success' : 'danger'" #inputOne *ngIf="isResponseBack">
      <li *ngFor="let item of ArrayOfData[2]; let index = index" [ngClass]="{
        'd-none' : index==1,
        'bg-info' : index == 22,
        'blue' : index ==12 || index==39,
        'green' : index==13,
        'lightGreen' : index==27 || index==34
      }">
        <input disabled [ngClass]="{
        'maxValue' : index==17 && item == maxGrossProfitGrowthArr || index==39 && item == maxFreeCashFlowGrowthArr || index==49 && item == maxTotalAssetsGrowthArr || index==50 && item == maxTotalEquityGrowthArr || index==45 && item == maxCashFromOperationsGrowthArr || index==47 && item == maxRevenue10PeriodCagrArr,
        'minValue' : index==17 && item == minGrossProfitGrowthArr || index==39 && item == minFreeCashFlowGrowthArr || index==49 && item == minTotalAssetsGrowthArr || index==50 && item == minTotalEquityGrowthArr || index==45 && item == minCashFromOperationsGrowthArr || index==47 && item == minRevenue10PeriodCagrArr
      }" value="{{item}}">
      </li>
    </ul>
  </div>
  <div class="col">
    <div class=""><input type='text' input placeholder="Search With Symbol" id="3"
        class="text-light bg-info text-center w-100" (keyup.enter)="getData($event, inputFour.value)" #inputFour
        style="height:60px; border-right: 1px solid black;"></div>
    <ul class="text-center fw-bold" [ngClass]="allStatus[3] ? 'success' : 'danger'" #inputOne *ngIf="isResponseBack">
      <li *ngFor="let item of ArrayOfData[3]; let index = index" [ngClass]="{
        'd-none' : index==1,
        'bg-info' : index == 22,
        'blue' : index ==12 || index==39,
        'green' : index==13,
        'lightGreen' : index==27 || index==34
      }">
        <input disabled [ngClass]="{
        'maxValue' : index==17 && item == maxGrossProfitGrowthArr || index==39 && item == maxFreeCashFlowGrowthArr || index==49 && item == maxTotalAssetsGrowthArr || index==50 && item == maxTotalEquityGrowthArr || index==45 && item == maxCashFromOperationsGrowthArr || index==47 && item == maxRevenue10PeriodCagrArr,
        'minValue' : index==17 && item == minGrossProfitGrowthArr || index==39 && item == minFreeCashFlowGrowthArr || index==49 && item == minTotalAssetsGrowthArr || index==50 && item == minTotalEquityGrowthArr || index==45 && item == minCashFromOperationsGrowthArr || index==47 && item == minRevenue10PeriodCagrArr
      }" value="{{item}}">
      </li>
    </ul>
  </div>
  <div class="col">
    <div class=""><input type='text' input placeholder="Search With Symbol" id="4"
        class="text-light bg-info text-center w-100" (keyup.enter)="getData($event, inputFive.value)" #inputFive
        style="height:60px; border-right: 1px solid black;"></div>
    <ul class="text-center fw-bold" [ngClass]="allStatus[4] ? 'success' : 'danger'" #inputOne *ngIf="isResponseBack">
      <li *ngFor="let item of ArrayOfData[4]; let index = index" [ngClass]="{
        'd-none' : index==1,
        'bg-info' : index == 22,
        'blue' : index ==12 || index==39,
        'green' : index==13,
        'lightGreen' : index==27 || index==34
      }">
        <input disabled [ngClass]="{
        'maxValue' : index==17 && item == maxGrossProfitGrowthArr || index==39 && item == maxFreeCashFlowGrowthArr || index==49 && item == maxTotalAssetsGrowthArr || index==50 && item == maxTotalEquityGrowthArr || index==45 && item == maxCashFromOperationsGrowthArr || index==47 && item == maxRevenue10PeriodCagrArr,
        'minValue' : index==17 && item == minGrossProfitGrowthArr || index==39 && item == minFreeCashFlowGrowthArr || index==49 && item == minTotalAssetsGrowthArr || index==50 && item == minTotalEquityGrowthArr || index==45 && item == minCashFromOperationsGrowthArr || index==47 && item == minRevenue10PeriodCagrArr
      }" value="{{item}}">
      </li>
    </ul>
  </div>
  <div class="col">
    <div class=""><input type='text' input placeholder="Search With Symbol" id="5"
        class="text-light bg-info text-center w-100" (keyup.enter)="getData($event, inputSix.value)" #inputSix
        style="height:60px; border-right: 1px solid black;"></div>
    <ul class="text-center fw-bold" [ngClass]="allStatus[5] ? 'success' : 'danger'" #inputOne *ngIf="isResponseBack">
      <li *ngFor="let item of ArrayOfData[5]; let index = index" [ngClass]="{
        'd-none' : index==1,
        'bg-info' : index == 22,
        'blue' : index ==12 || index==39,
        'green' : index==13,
        'lightGreen' : index==27 || index==34
      }">
        <input disabled [ngClass]="{
        'maxValue' : index==17 && item == maxGrossProfitGrowthArr || index==39 && item == maxFreeCashFlowGrowthArr || index==49 && item == maxTotalAssetsGrowthArr || index==50 && item == maxTotalEquityGrowthArr || index==45 && item == maxCashFromOperationsGrowthArr || index==47 && item == maxRevenue10PeriodCagrArr,
        'minValue' : index==17 && item == minGrossProfitGrowthArr || index==39 && item == minFreeCashFlowGrowthArr || index==49 && item == minTotalAssetsGrowthArr || index==50 && item == minTotalEquityGrowthArr || index==45 && item == minCashFromOperationsGrowthArr || index==47 && item == minRevenue10PeriodCagrArr
      }" value="{{item}}">
      </li>
    </ul>
  </div>
  <div class="col">
    <div class=""><input type='text' input placeholder="Search With Symbol" id="6"
        class="text-light bg-info text-center w-100" (keyup.enter)="getData($event, inputSeven.value)" #inputSeven
        style="height:60px"></div>
    <ul class="text-center fw-bold" [ngClass]="allStatus[6] ? 'success' : 'danger'" #inputOne *ngIf="isResponseBack">
      <li *ngFor="let item of ArrayOfData[6]; let index = index" [ngClass]="{
        'd-none' : index==1,
        'bg-info' : index == 22,
        'blue' : index ==12 || index==39,
        'green' : index==13,
        'lightGreen' : index==27 || index==34
      }">
        <input disabled [ngClass]="{
        'maxValue' : index==17 && item == maxGrossProfitGrowthArr || index==39 && item == maxFreeCashFlowGrowthArr || index==49 && item == maxTotalAssetsGrowthArr || index==50 && item == maxTotalEquityGrowthArr || index==45 && item == maxCashFromOperationsGrowthArr || index==47 && item == maxRevenue10PeriodCagrArr,
        'minValue' : index==17 && item == minGrossProfitGrowthArr || index==39 && item == minFreeCashFlowGrowthArr || index==49 && item == minTotalAssetsGrowthArr || index==50 && item == minTotalEquityGrowthArr || index==45 && item == minCashFromOperationsGrowthArr || index==47 && item == minRevenue10PeriodCagrArr
      }" value="{{item}}">
      </li>
    </ul>
  </div>

  <!-- Start Of Draw Footer -->
</div>
<div class="footer" *ngIf="isPropertiesLoaded">
  <div class="bg-info p-4 text-center">
    <p class="h2">Notes</p>
  </div>
  <div class="bg-primary text-warning">Patreon Notes</div>
  <div>Note 1 : Be Sure to watch the a campany in youtube </div>
  <div class="bg-primary text-warning">Patreon Notes</div>
  <div>Note 1 : Be Sure to watch the a campany in youtube vadio (when avaliable) because i call out import points for
    patrons when appropriate</div>
  <div><span class='text-danger'>Note 2 : Download The Beast Mode Stack Analysis Cheat Sheet Here:</span>
    https://www.patreon.com/posts/37763798</div>
  <div class='bg-warning' style='font-size:14px'>disclaimer:I am not a financial advisor & This Content is For
    Informational & Entertainment Purposes Only , You Should Not Construe Any Such INformation Or Other Material Ad
    Legal
    ,Tax, investment</div>
  <div class='bg-dark text-center'><img src="/assets/images/1.png" width="80px" height="30px">
    <span class=' text-light m-5'>Free Tools at www.Jerry.Romine.com</span>
    <img src="/assets/images/1.png" width="80px" height="30px">
  </div>
</div>
