<div class="div1 text-center p-3">
    <img src="/assets/images/1.png">
</div>

<article class="art1" >
    <p class="">Last Close: $280.98</p>
    <p>Market Cap: $2,113,886M</p>
    <p>EV: $2,038,486M</p>
    <p>Industry: Software</p>
    <p>Display Currency: USD</p>

</article>

<!--section2-->

<section class="sec2 d-flex flex-wrap">
    <article class="col-lg-5 col-sm-11">
        <div>
            <h3>Beast Mode Scorecard</h3>
            <img src="/assets/images/1.png" width="120px" height="40px">
        </div>
        <div>
          <h4>{{data.data.metadata.name}}</h4>
          <h5>{{data.data.metadata.symbol}}</h5>
        </div>
        <div>
          <h4>PE Raito</h4>
        </div>
        <h4>STOCK PERFORMANCE</h4>
        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>66</h5>
        </div>
        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>43</h5>
        </div>
        <h4>INCOME & OPERATIONS</h4>
        <div>
            <h5>Operation Margin</h5>
            <h5>{{operatingMargin}}</h5>
        </div>
        <div>
            <h5>Net Income Margin</h5>
            <h5>{{netIncomeMargin}}</h5>
        </div>
        <h4>STOCK PERFORMANCE</h4>
        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>45</h5>
        </div>
        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>45</h5>
        </div>
        <h4>STOCK PERFORMANCE</h4>
        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>55</h5>
        </div>
        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>50</h5>
        </div>
        <h4>STOCK PERFORMANCE</h4>
        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>23%</h5>
        </div>
        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>22</h5>
        </div>
        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>22</h5>
        </div>

        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>22</h5>
        </div>


    </article>
    <article class="col-lg-6 col-md-11">
        <h4>Business Description :</h4>
        <p>{{data.data.metadata.description}}</p>
    </article>
</section>

<!-----------------------------------secction of table one--------------------------------------->

<section class="">
<table class=" t table-responsive">
    <thead>
      <tr>
        <th colspan="6" class="" style="text-align:center; Padding:10px;">
          <div class="d-flex justify-content-between">
            <h4>Key Statistics</h4>
          <div>
            <img src="/assets/images/1.png" class="img-fluid" width="180" alt="" srcset="">
          </div>
          </div>
        </th>

      </tr>
    </thead>
    <tbody>

      <tr>
        <td class="table_header" colspan="2">Valuation Ratios</td>
        <td class="table_header" colspan="2">10-Yr Median Returns</td>
        <td class="table_header" colspan="2">10-Yr Median Margins</td>
      </tr>
      <tr>
        <td class="lt">P/E</td>
        <td class="rt" id="ks-pe">37.4</td>
        <td class="lt">ROA</td>
        <td class="rt">14.2%</td>
        <td class="lt">Gross Profit</td>
        <td class="rt">66.8%</td>
      </tr>
      <tr>
        <td class="lt">P/B</td>
        <td class="rt" id="ks-pb">16.1</td>
        <td class="lt">ROE</td>
        <td class="rt">28.8%</td>
        <td class="lt">EBIT</td>
        <td class="rt">33.1%</td>
      </tr>
      <tr>
        <td class="lt">P/S</td>
        <td class="rt" id="ks-ps">13.6</td>
        <td class="lt">ROIC</td>
        <td class="rt">22.0%</td>
        <td class="lt">Pre-Tax Income</td>
        <td class="rt">32.5%</td>
      </tr>
      <tr>
        <td class="lt">EV/S</td>
        <td class="rt" id="ks-ev_s">13.1</td>
        <td class="table_header" colspan="2">10-Year CAGR</td>
        <td class="lt">FCF</td>
        <td class="rt">31.3%</td>
      </tr>
      <tr>
        <td class="lt">EV/EBITDA</td>
        <td class="rt" id="ks-ev_ebitda">27.1</td>
        <td class="lt">Revenue</td>
        <td class="rt">9.2%</td>
        <td class="table_header" colspan="2">Capital Structure (Median)</td>
      </tr>
      <tr>
        <td class="lt">EV/EBIT</td>
        <td class="rt" id="ks-ev_ebit">31.6</td>
        <td class="lt">Assets</td>
        <td class="rt">11.9%</td>
        <td class="lt">Assets / Equity</td>
        <td class="rt">2.4</td>
      </tr>
      <tr>
        <td class="lt">EV/Pretax</td>
        <td class="rt" id="ks-ev_pretax_income">31.1</td>
        <td class="lt">FCF</td>
        <td class="rt">8.6%</td>
        <td class="lt">Debt / Equity</td>
        <td class="rt">0.5</td>
      </tr>
      <tr>
        <td class="lt">EV/FCF</td>
        <td class="rt" id="ks-ev_fcf">39.4</td>
        <td class="lt">EPS</td>
        <td class="rt">11.6%</td>
        <td class="lt">Debt / Assets</td>
        <td class="rt">0.2</td>
      </tr>

    </tbody>
  </table>
</section>

