<div class="div1 text-center p-3">
    <img src="/assets/images/1.png">
</div>

<article class="art1" >
    <p class="">Last Close: $280.98</p>
    <p>Market Cap: $2,113,886M</p>
    <p>EV: $2,038,486M</p>
    <p>Industry: Software</p>
    <p>Display Currency: USD</p>

</article>

<!--section2-->

<section class="sec2 d-flex flex-wrap">
    <article class="col-lg-5 col-sm-11">
        <div>
            <h3>Beast Mode Scorecard</h3>
            <img src="/assets/images/1.png" width="120px" height="40px">
        </div>
        <div>
          <h4>{{data.data.metadata.name}}</h4>
          <h5>{{data.data.metadata.symbol}}</h5>
        </div>
        <div>
          <h4>PE Raito</h4>
        </div>
        <h4>STOCK PERFORMANCE</h4>
        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>66</h5>
        </div>
        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>43</h5>
        </div>
        <h4>INCOME & OPERATIONS</h4>
        <div>
            <h5>Operation Margin</h5>
            <h5>{{operatingMargin}}</h5>
        </div>
        <div>
            <h5>Net Income Margin</h5>
            <h5>{{netIncomeMargin}}</h5>
        </div>
        <h4>STOCK PERFORMANCE</h4>
        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>45</h5>
        </div>
        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>45</h5>
        </div>
        <h4>STOCK PERFORMANCE</h4>
        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>55</h5>
        </div>
        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>50</h5>
        </div>
        <h4>STOCK PERFORMANCE</h4>
        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>23%</h5>
        </div>
        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>22</h5>
        </div>
        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>22</h5>
        </div>

        <div>
            <h5>Beast Mode Scorecard</h5>
            <h5>22</h5>
        </div>


    </article>
    <article class="col-lg-6 col-md-11">
        <h4>Business Description :</h4>
        <p>{{data.data.metadata.description}}</p>
    </article>
</section>



