<div class="card m-auto text-center parent" style="width: 50% ">
    <h2>{{username}}</h2>
    <div class="card-body">
      <h4 class="card-title">{{email}}</h4>
      <table>
          <tr>
            <th>Patrion Tier</th>
            <th>{{remainerequest}}</th>
        </tr>
        <tr>
            <th>Limit Of Requests</th>
            <th>489</th>
        </tr>
          <tr>
              <th>Your Request</th>
              <th>{{yourrequest}}</th>
          </tr>
          <tr>
              <th>Remain Request</th>
              <th>{{remainerequest}}</th>
          </tr>
        
      </table>
    </div>
  </div>